.body{
    display:flex;
    flex-direction: column;
    gap:4;
}
.icon {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.icon svg{
    padding:1em;
}
.controls{
    display: flex;
    margin-top: 1em;
    gap: 0.5em;
    justify-content: flex-end;
    
}