.app-activation{
    width:30vw;
    min-width: 300px;
}
.table-container{
    overflow:auto;
    border: 0.05em solid rgba(255, 255, 255, 0.175);
    padding:0.5em;
    margin-top: 1em;
}
.table{
    color:white;
    width:100%;
    margin-top: 1em;
    border-collapse: collapse;   
}
@media only screen and (max-width: 600px){
    .app-activation{
        width: 80vw;
    }
}
/* landscape orientation*/
@media only screen and (max-height: 500px) and (orientation: landscape) {
    .app-activation > h1{
        margin:0;
    }
    .app-activation > .table-container {
        margin-top: 0.1em;
    }
}