.app-activation{
    width:40vw;
}
.table-container{
    overflow:auto;
    border: 0.2em dashed white;
    padding:0.5em;
    margin-top: 1em;
}
.table{
    color:white;
    width:100%;
    margin-top: 1em;
    border-collapse: collapse;   
}