.setup,.skip,.essentials,.prev,.start{
    margin-top: 5em;
    width: 15em;
    background-color: #004e98;
}
.group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.group-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.essentials{
    margin-bottom: 5em;
}
.group > button{
    margin-top: 1em;
}
.prev,.skip{
    width: 6em;
    text-align: center;
}
.disabled {
    background-color: lightgrey;
    cursor: default;
}
.success{
    border-color: lightgreen;
}
.warning {
    border-color: yellow;
}
.danger{
    border-color: red;
}
.start{
    margin-top: 2em;
}