.outline {
    margin-top: 2em;
    min-width: 6em;
    color: #ffffff;
    border-color: #393939;
}
.setup,.skip,.essentials,.prev,.start{
    margin-top: 5em;
    min-width: 15em;
    background-color: #004e98;
}
.group{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}
.group-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.essentials{
    margin-bottom: 5em;
    min-width: 9em;
}
.group > button{
    margin-top: 1em;
}
.prev,.skip{
    min-width: 6em;
    text-align: center;
}
.disabled {
    background-color: #d3d3d300;
    cursor: default;
}
.success{
    background-color: lightgreen;
}
.warning {
    border-color: yellow;
}
.danger{
    border-color: red;
}
.start{
    margin-top: 2em;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .group{
        flex-direction: column;
        align-items: center;
        margin-top: 0.5em;
    }
    .group > button{
        width: 100%;
        margin-top: 0;
    }
} 

/* landcape media query*/
@media only screen and (max-height: 500px) and (orientation: landscape) {
    .group{
        margin-top: 0.5em;   
    }
    .group > button{
        width: 100%;
        margin-top: 0;
    }
    .essentials{
        margin-top: 2em;
    }
}