.outline {
    margin-top: 2em;
    width: 6em;
    color: #ffffff;
    border-color: #393939;
}
.setup,.skip,.essentials,.prev,.start{
    margin-top: 5em;
    width: 15em;
    background-color: #004e98;
}
.group{
    margin-top: 2em !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.group-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.essentials{
    margin-bottom: 5em;
}
.group > button{
    margin-top: 1em;
}
.prev,.skip{
    width: 6em;
    text-align: center;
}
.disabled {
    background-color: lightgrey;
    cursor: default;
}
.success{
    background-color: lightgreen;
}
.warning {
    border-color: yellow;
}
.danger{
    border-color: red;
}
.start{
    margin-top: 2em;
}