.app-finished{
    width:100%;    
    min-width: 300px;
}
/* extra small screens */
@media only screen and (max-width: 600px) {
    .app-finished{
        width: 80vw;
    }
    .app-finished > h1{
        font-size: 1.3em;
    }
}