.app-keystore{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    gap:2vh;
    width: 30vw;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .app-keystore{
        width: 80vw;
    }
}