.app-password{
    font-size: 0.9rem;
    width:30vw;
    min-width: 300px;
}
.header{
    margin: 1vh !important;
}
.header3{
    margin-bottom: 1vh !important;
}
.intro{
    margin-bottom: 5vh;
}
.password-requirements {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1em !important;
    margin-left: 2em;
}

