.app-password{
    font-size: 1em;
}
.header{
    margin:0.3em !important;
}
.password-requirements {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 0.5em !important;
}